<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= form_tag lessons_path, method: :get do %>
<%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search],  data: {autocomplete_source: Category.order(:name).map(&:name)} %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>