<li id="<%= lesson.id %>">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h2 class="panel-title"><%= lesson.title %></h2>
    </div>

    <div class="panel-body">
      <span class="user_info">
      <%= link_to image_tag(lesson.user.avatar_url.to_s, alt: lesson.user.to_s, class: "avatar", size: "150x150"), lesson.user %>

        <h4><%= lesson.user.to_s %></h4>
        <span class="view_profile">
          <small><i class="fa fa-eye"></i> <%= link_to "View Profile", lesson.user %></small>
        </span> 
      </span>
      <span class="price">
        <strong><%= number_to_currency(lesson.price) %></strong>per hour
      </span>
      <span class="category">
        <% lesson.categories.each do |cat| %>
          <%= link_to(tag_path(cat.name), class: "btn btn-default btn-xs") do %>
          <i class="fa fa-tag"></i> <%= cat.name %>
          <% end %>
        <% end %>
      </span>
      <span class="content"><small><%= lesson.content %></small></span>
      <span class="timestamp">
      	<small>Posted <%= time_ago_in_words(lesson.created_at) %> ago.</small>
      </span>
    	<% if current_user?(lesson.user) %>
        <%= link_to "delete", lesson, method: :delete,
                                         data: { confirm: 'You sure?' },
                                         title: lesson.title %>
        <i class="icon-trash"></i>
    	<% end %>
    </div><!-- panel body -->
  </div><!-- panel panel-default -->
</li><!-- li -->